$baseFontFamily: Julius Sans One;
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);


$navbarBackgroundHighlight: white;
@import 'bootstrap';

body {
	padding-top:60px;
}

@import 'bootstrap-responsive';
/*****This is how to get rid of navbar shadow

.navbar-inner {
	@include box-shadow(none !important);
	border:0;
}
*****/

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}
